.body {
    background-color: lavender;
    img {
        width: 40px;
    }
    .alert {
        width: fit-content;
    }
    .delete {
        cursor: pointer;
    }
    .contact {
        display: flex;
        padding: 5px;
    }
    .navbar {
        .navbar-brand {
            .house {
                font-size: 30px;
                color: darkslateblue;
            }
        }
    }
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
      }
    .container {
        padding-top: 70px;
        .badge {
            background-color: cornflowerblue;
            padding: 5px;
        }
        .filter {
            margin-top: 5px;
        }
        .main-row {
            margin-top: 60px;
            width: fit-content;
            .btn_icon {
                align-items: center;
                display: flex;
                i {
                    margin-right: 5px;
                }
            }
            .card {
                margin-right: 30px;
                margin-left: 30px;
                background-color: darkslateblue;
                color: aliceblue;
                input {
                    padding-bottom: 5px;
                }
            }
            .col-sm-2 {
                i {
                    padding-top: 5px;
                }
            }
            .col-sm-1 {
                i {
                    padding-top: 19px;
                }
            }
            .col-sm-6 {
                max-width: fit-content;
                padding: 10px 35px;
                .btn {
                    margin: 10px;
                }
            }
        }
    }
    h2 {
        padding: 10px;
    }
    .footer {
        margin-top: 70px;
        vertical-align: bottom;
    }
}

@media screen and (max-width: 479px) {
    .body {
        .alert {
            width: fit-content;
        }
        .container {
            .main-row {
                .col-sm-6 {
                    padding: 5px 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .body {
        .alert {
            width: fit-content;
        }
        .container {
            .main-row {
                .col-sm-6 {
                    padding: 5px 25px;
                }
                .card {
                    margin-left: 20px;
                    margin-right: 20px; 
                    margin-bottom: 25px;
                }
            }
        }
    }
}